<div id="<%= dom_id store %>">
  <p>
    <strong>Store name:</strong>
    <%= store.store_name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= store.phone %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= store.status %>
  </p>

</div>
