<p style="color: green"><%= notice %></p>
<div class="card">
  <div class="card-header">
    <center>Store Information</center>
  </div>
  <div class="card-body">
    <h5 class="card-title"><strong>Name Store: </strong><%= @user.first_name %></h5>
  </div>
</div>
<div>
  <%= link_to "Back to users", users_path %>
  <br><br>
  <%= button_to "Destroy this users", @user, method: :delete,class:"btn btn-danger" %>
</div>

