<div class="btn btn-outline-dark" >
  <i class="bi bi-cart-fill"></i>Carts
  <%#= render 'carts/cart'%>
<!--  <span class="badge bg-dark text-white ms-1 rounded-pill"><%#= current_order.order_items.size %></span>-->
</div>
